#hope{
    background:black;
    color: green;
    font-size: 25px;
    font-family: Arial serif;
}
#main{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: white;
    text-align: center;
}
#main:hover {
    background-color: blue;
}
#second::first-line{
    background: blue;
}
p::first-letter {
    color: #ff0000;
    font-size: 40px;
}
div p::first-letter {
    color: #ff0000;
    font-size: 20px
}
#third{
    float: right;
    background: gray;
}