#hope{
    background:black;
    color: green;
    font-size: 25px;
    font-family: Arial serif;
}
#main{
    height: 100px;
    width: 100px;
    background-color: yellow;
    color: white;
    text-align: center;
}
#main:hover {
    background-color: blue;
}
#second{
    border: 3px solid green;
    background-color: blue;
    height: 250px;
    width: 250px;
}
p::first-letter {
    color: #ff0000;
    font-size: 40px;
}
div p::first-letter {
    color: #ff0000;
    font-size: 20px
}