#hope{
    background:black;
    color: green;
    font-size: 25px;
    font-family: Arial serif;
}
#main{
    border: 3px dotted green;
    background-color: red;
    height: 100px;
    width: 100px;
    
}
#second{
    border: 3px solid green;
    background-color: blue;
    height: 50px;
    width: 50px;
}


